body {
    background: forestgreen;
    margin-bottom: 60px;
}

#main-jumbotron {
    background: darkred;
    color: black;
    padding: 1em;
}

#main-jumbotron-paragraph {
    font-size: xx-large;
}

#song-container {
    margin: 2em;
    padding: 1em;
}

#body-footer-hr {
    border: 1px solid black;
    margin: 0;
}

#main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

#main-footer-span {
    color: black;
}